In [1]:
import pytesseract
import cv2
import pandas as pd

In [2]:
df = pd.read_csv('alcohol_names.csv', header=None, encoding='latin-1')

In [3]:
alcohol_list = list(df[0])

In [4]:
img1 = cv2.imread('bill_sample.jpeg')
img2 = cv2.imread('bill2.jpeg')
img3 = cv2.imread('bill3.jpeg')
img4 = cv2.imread('bill4.jpeg')
text1 = pytesseract.image_to_string(img1)
text2 = pytesseract.image_to_string(img2)
text3 = pytesseract.image_to_string(img3)
text4 = pytesseract.image_to_string(img4)

In [71]:
text4

'ORDER: table 24\n\nwus\n\ncashier\np5-Jan-201 31 2:40:02P\nT ransaction\nNon vegetable thali- +\nin ed 1e4 ~\n\n  \n\x0c'

In [72]:
text3

'il\n\n \n\nil\n\n \n\nwi\n\n \n\n \n\nRestaurant Name\nAddress 1\nAddress 2\n\nTable: 201 Chk: #1111 Guest: 2\n\n \n\n    \n\n5 BLOODY MARY $ 40.75\n1 FRESH OYSTER $ 12.50\n\nSUBTOTAL $ 53.25\n\nTAX $ 5.33\nGRATUITY $ 6.00\nTOTAL DUE § 64.60\n\nTHANK YOU FOR DINING WITH US!\nPLEASE COME AGAIN\n\x0c'

In [73]:
text2

'     \n\n1 Ace Midas 30L  125000.00\ni Spades MET 2400000\n2 & 4500.00\nSpades Brut 9000.00\n40 @ 500.06\nAce of Spades 20000 .00\n6 @ 325.00\nL/P Rose Magnum 1950.00\nPel /P Brut 1256.00\n20 Coke 200ml @ 2.00 40.60\n21 @ 2.00\nLemonade 200m1 42.00\n2 @ 2000.00\nGrey Goose 4.5L 4000.00\n\nA? Pussy @ 3.00 126.00\n30901.33 VAT i185408.00\nBeverage 208.00\nWine S/ 181200.00\nLiquor 4900.00\nio% Service Chrg 18540-8680\nTOTAL DUE 203948 .80\nRA ULL Y Soe eee\nRolOMsNe tage ee ee\nDIATE css eae eee eee ew\n\naA espa «\nFREE TUESDAYS! 20% OFF YOUR\nEVERY TUE WITH THIS RECEIPT\n\n  \n\n%\n\x0c'

In [74]:
text

' \n\n1 No Waiter\n\nABéis WAITER\nsais Price\n\nSe tt em net iw SS re e-em Sn Sm on ane wn ee ee ome own aw\n\nFLAVOURED MOJITO 380. 00 1,000 33\n\nSUCUNBER MINT 70000 1.000 170.0\nLONG ISLAND ELEC 340.00 2.0%\nQRUNCHY SALAD 160.00 1.000\nASSORTED SATAY 260.00 1.00¢\n\nTEQUILA CHICKEN 320,00 1.000\nFAJITAS CHICKEN 300.00 1.0UC\nSURF N TURF 360.00 1.000\nTota) Quantity 9.00\nGross Tota!\nVAT 5.5%\nVAT 14.5%\n\nService Tax 5.6%\n\n| Service Charges 10.00%\n\n~ Net Amount\n\nGet Back Joe Joe)\n\nA Re i i A Nin a tk A RE Sr ie\n\n \n\ni\n\x0c'

In [75]:
alcohol_list = [x.lower() for x in alcohol_list]

In [5]:
import nltk
nltk.download('stopwords')

alcohol_list = [x.lower() for x in alcohol_list]

def isAlcohol(input_text):
    stop_words = set(nltk.corpus.stopwords.words('english'))
    word_tokens = nltk.tokenize.word_tokenize(input_text)
    filtered_tokens = [w for w in word_tokens if w not in stop_words]
    filtered_tokens = [w for w in word_tokens if w.isalpha()]

    bigrams_trigrams = list(map(' '.join, nltk.everygrams(filtered_tokens, 2, 3)))
    # print(bigrams_trigrams)
    # print(filtered_tokens)
    found_alcohols = set()
    for token in filtered_tokens:
        if token.lower() in alcohol_list:
            found_alcohols.add(token)

    for ngram in bigrams_trigrams:
        if ngram.lower() in alcohol_list:
            found_alcohols.add(ngram)
    if (found_alcohols):
        print("Alcohol bill found in the receipt")
        return found_alcohols
    else:
        return "Great no ALCOHOL found"

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/srikanthvemula/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
print(isAlcohol(text1))

Alcohol bill found in the receipt
{'TEQUILA', 'MOJITO'}

In [7]:
print(isAlcohol(text2))

Alcohol bill found in the receipt
{'Wine', 'Beverage', 'Grey Goose', 'Liquor'}

In [8]:
print(isAlcohol(text3))

Alcohol bill found in the receipt
{'BLOODY MARY'}

In [9]:
print(isAlcohol(text4))

Great no ALCOHOL found